body {
    background: #FFFFFF;
    margin: 0px;
    min-width: 1075px;
}

td {
    font-size: 12px;
    font-family: arial, sans-serif;
    border: 1px solid black;
    text-align: center;
    width: 72px !important;
}

td {
    height: 72px !important;
}

#setup {
    display: none;
    margin: 15px;
}

#moneybar {
    float: right;
    border: 0px solid black;
    background-color: white;
    margin: 15px;
    border-radius: 5px;
    display: none;
    z-index: 14;
    position: relative;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}

#moneybar table {
    font-weight: bold;
    border-spacing: 1px;
}

#moneybarwrap {
    position: absolute;
    min-width: 135px;
    top: 0px;
    left: 970px;
    right: 0px;
    -webkit-user-select: none;
    user-select: none;
}

#propertystats {
    margin-right: 110px;
}

#refresh {
    display: none;
    margin: 15px;
}

#noF5 {
    display: none;
}

#noscript {
    margin-left: 10px;
}

#board {
    flex: 10;
    /*display: none;*/
    border: 2px solid black;
    border-spacing: 3px;
    margin: 15px;
    float: left;
}

#jail {
    border: 1px solid black;
    height: 64px;
    width: 64px;
    position: relative;
    top: 73px;
    left: -73px;
    z-index: 2;

    /*display: block;*/
    flex-direction: column;
    /*flex: 1;*/
    background-image: url('/m/img/game/jail.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed;*/
    /* background-position: 80% 100%;*/
    background-size: auto;
    /* z-index: 1;*/
}

#control {
    position: absolute;
    z-index: 9;
    top: 250px;
    left: 250px;
    border: 2px solid black;
    padding: 10px;
    display: none;
    background-color: white;
}

#quickstats {
    font-size: 12px;
    font-weight: bold;
    font-family: arial, sans-serif;
    border: 2px solid blue;
    margin: 5px;
    padding: 3px;
    width: 80px;
}

#pname {
    background-color: white;
}

#landed {
    padding: 3px;
    border: 1px solid gray;
    border-top: none;
    width: 302px;

    margin: 0px;
    text-align: center;
}

#alert {
    width: 307px;
    height: 92px;
    margin: 0px;
    padding-left: 1px;
    border: 1px solid gray;
    font-family: Consolas, "Courier New", monospace;
    font-size: 13px;
    background-color: #FFFFFF;
    overflow-y: scroll;
}

#manage {
    width: 308px;
    border: 1px solid gray;
    display: none;
}

#option {
    border-bottom: 1px solid gray;
    background-color: white;
    display: none;
    background: white;
    vertical-align: middle;
    padding: 3px;
    text-align: center;
    min-height: 26px;
}

#buildings {
    margin: auto;
    height: 21px;
    font-size: 16px;
    font-weight: bold;
}

#buildings .house {
    width: 25px;
    height: 19px;
    vertical-align: top;
    float: none;
}

#buildings .hotel {
    width: 26px;
    height: 19px;
    vertical-align: top;
    float: none;
}

#owned {
    padding: 3px 0px;
    background-color: white;
    text-align: center;
    max-height: 390px;
    overflow-y: auto;
}

#owned .propertycellname {
    vertical-align: top;
}

#property {
    margin-right: 1px;
    background: white;
}

#trade {
    border: 2px solid black;
    display: none;
    width: 630px;
    margin: 15px auto;
    background-color: white;
    border-radius: 8px;
    padding: 2px;
    z-index: 14;
}

#trade-leftp-name {
    font-size: 13px;
    font-weight: bold;
}

#trade-leftp-name option {
    font-size: 13px;
    font-weight: normal;
}

#trade-rightp-name {
    font-size: 13px;
    font-weight: bold;
}

#trade-rightp-name option {
    font-size: 13px;
    font-weight: normal;
}

#trade-leftp-money {
    width: 90%;
}

#trade-rightp-money {
    width: 90%;
}

#deedcolor {
    background: white;
    width: 100%;
    height: 48px;
}

#deedname {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
}

#menu {
    width: 290px;
    height: 32px;
    margin: 0px 10px;
}

#menutable {
    padding: 0px;
    text-align: left;
    font-family: arial, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid blue;
    border-radius: 5px 5px 0px 0px;
    height: 30px;
    width: 99%;
    margin: 0px;
    background-color: #305BC9;
    /* background-image: -webkit-linear-gradient(bottom,#213EB2,#4787ED);
    background-image: -moz-linear-gradient(bottom,#213EB2,#4787ED); */
    background-image: url(images/menu_background.png);
    /* background-repeat: repeat-x; */
    overflow: hidden;
}

#menutable td {
    vertical-align: top;
}

#menu a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 8px;
}

#buy-menu-item {
    color: #FFFFFF;
    margin-left: 2px;
    border-left: none;
}

#trade-menu-item {
    color: #AAAAAA;
    border-right: none;
    margin-right: 2px;
}

#popup {
    width: 300px;
    min-width: 300px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.5;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: block;
    z-index: 13;
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
}

#popupwrap {
    position: absolute;
    top: 255px;
    left: 0px;
    width: 100%;
    display: none;
    background-color: transparent;
    z-index: 13;
    -webkit-user-select: none;
    user-select: none;
}

#popuptext {
    overflow-x: auto;
}

.menu-item {
    padding: 0px;
    border-collapse: collapse;
    text-align: center;
    display: table-cell;
    background-color: transparent;
    border: none;
    border-right: 2px solid white;
    height: 30px;
    min-width: 90px;
    width: 90px;
    max-width: 90px;
    overflow: hidden;
}

.die {
    display: none;
    margin: 5px;
    float: left;
}

.die-no-img {

    border-radius: 6px;
    font-weight: bold;
    border: 2px solid black;
    padding: 5px 10px;
}

.house {
    width: 25px;
    height: 19px;
    vertical-align: middle;
    float: right;
}

.hotel {
    width: 26px;
    height: 19px;
    vertical-align: middle;
    float: right;
}

.cell {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
}

.board-center {
    flex: 9
    /*width: 675px;*/
border : none;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
    border: none;
}

.board-corner {
    /*display: flex;*/
    width: 102px;
    height: 102px;
}

.board-top {
    width: 72px;
    height: 102px;
}

.board-bottom {
    width: 72px;
    height: 102px;
}

.board-left {
    display: flex;
    /* width: 102px;*/
    height: 72px;
}

.board-right {
    flex: 1;
    /*width: 102px;*/
    height: 72px;
}

.enlarge {
    width: 150px;
    height: 200px;
    display: none;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-size: 12px;
    font-family: arial, sans-serif;
    position: fixed;
    z-index: 15;
}

.enlarge-color {
    background: white;
    width: 100%;
    height: 40px;
}

.enlarge-name {
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    height: 45px;
}

.enlarge-price {
    background-color: white;
    vertical-align: bottom;
    height: 25px;
}

.enlarge-token {
    height: 45px;
    width: 150px;
}

.moneybarcell {
    width: 83px;
    min-width: 83px;
}

.moneybararrowcell {
    background: white;
    width: 30px;
    border: none;
    text-align: right;
    padding: 0px;
}

.money-bar-arrow {
    height: 30px;
    width: 30px;
}

.propertycellcheckbox {
    width: 20px;
    height: 20px;
    border: none;
    vertical-align: middle;
}

.propertycellcolor {
    padding: 0px;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.propertycellname {
    height: 20px;
    width: 250px;
    border: none;
    cursor: default;
    text-align: left;
    vertical-align: middle;
}

.propertycelldeed {
    width: 18px;
    height: 20px;
    border: 1px solid grey;
    cursor: pointer;
    display: none;
}

.statscellcolor {
    padding: 0px;
    width: 22px;
    height: 20px;
    border: none;
}

.statscellname {
    height: 20px;
    border: none;
    cursor: default;
    text-align: left;
    min-width: 172px;
}

.statsplayername {
    font-weight: bold;
    font-size: 24px;
}

.statscell {
    border: 2px solid black;
    padding: 8px;
    vertical-align: top;
    width: 202px;
    min-width: 115px;
}

.trade-cell {
    border: none;
    border-radius: 3px;
    width: 308px;
    height: 26px;
    vertical-align: middle;
}

.cell-anchor {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0px;
    left: 0px;
}

.cell-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
}

.cell-position-holder {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.cell-position {
    height: 12px;
    width: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.cell-owner {
    background-size: cover;
    display: none;
    position: absolute;
}

.board-top .cell-owner {
    background-image: url("images/hori-bar.png");

    height: 15px;
    left: 0px;

    top: -25px;
    width: 72px;

}

.board-bottom .cell-owner {
    background-image: url("images/hori-bar.png");
    bottom: -25px;

    height: 15px;

    left: 0px;
    width: 72px;
}

.board-left .cell-owner {
    background-image: url("images/vert-bar.png");

    height: 68px;
    left: -25px;

    top: 0px;
    width: 15px;

}

.board-right .cell-owner {
    background-image: url("images/vert-bar.png");

    height: 68px;
    right: -25px;

    top: 0px;
    width: 15px;

}

html, body, .ng-scope {
    height: 100%;
    width: 100%;
    margin: 0;

}

/*This is the leftDirective*/
.landWrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #ffffff;
}

.landWrapper > .colorWrapper {
    flex: 1;
    font-family: Audiowide;
    font-size: 12px;
}

.rightLandWrapper>.colorWrapper {
    flex: 1;
    font-size: 12px;
}

/*This is the leftDirective*/
.rightLandWrapper {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    background-color: #ffffff;
    height: 100%;
}



.rightLandWrapper > .colorWrapper {
    flex: 1;
    font-family: Audiowide;
    font-size: 12px;
}

.mainSouthLandContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.northLandDirective {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    height: 100%;
}

.northLandDirective > .colorContainer {
    flex: 1;
}

.mainSouthLandContainer > .colorContainer {
    flex: 1;
}

.northLandDirective > .landContainer {
    color: #666;
    font: 12px Arial, sans-serif;
    flex: 3;
    font-style: bold;
    background: #E6E5E0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #E6E5E0), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: -moz-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: -o-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: -ms-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: linear-gradient(to right, #E6E5E0 31%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94c4fe', endColorstr='#d3f6fe', GradientType=0);
    border: 2px solid #E6E5E0;
    color: #000;
    /* font-size: 0.750em;*/
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    height: 100%;
    transform: rotate(180deg);
}

.mainSouthLandContainer > .landContainer {
    color: #666;
    font: 12px Arial, sans-serif;
    flex: 3;
    font-style: bold;
    background: #E6E5E0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #E6E5E0), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: -moz-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: -o-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: -ms-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: linear-gradient(to right, #E6E5E0 31%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94c4fe', endColorstr='#d3f6fe', GradientType=0);
    border: 2px solid #E6E5E0;
    color: #000;
    /* font-size: 0.750em;*/
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    height: 100%;
}

.brown {
    background-image: url('/m/img/game/brown.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}

.lightblue {
    background-image: url('/m/img/game/lightblue.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}

.red {
    background-image: url('/m/img/game/red.png') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}


.green {
    background-image: url('/m/img/game/green.png') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}

.chest {
    background-image: url('/m/img/game/chest.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}

.orangeback {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/orange.png');
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #000;
}

.purpleback {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/purple.png') !important;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #000;
}


.ring {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/ring.png') !important;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #ffffff;
    height: 100%;
}

.blue{
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/blue.png') !important;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #000;
}

.yellow{
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/yellow.png') !important;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #000;
}


.orangeChip {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/orangeChip.png') !important;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    height: 72px;
}

.leftChest {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/leftchest.png') !important;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #000;
}

.rightChest {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/leftchest.png') !important;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #000;
}

.parking {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/parking.png') !important;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    height: 100%;
    width: 100%;
    color: #ffffff;
}

.greenback {
    background: #3c7921;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #3c7921), color-stop(100%, #c4feb3));
    background: -webkit-linear-gradient(left, #3c7921 31%, #c4feb3 100%);
    background: -moz-linear-gradient(left, #3c7921 31%, #c4feb3 100%);
    background: -o-linear-gradient(left, #3c7921 31%, #c4feb3 100%);
    background: -ms-linear-gradient(left, #3c7921 31%, #c4feb3 100%);
    background: linear-gradient(to right, #3c7921 31%, #c4feb3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94c4fe', endColorstr='#d3f6fe', GradientType=0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #3c7921;
    color: #000;
    font-size: 0.750em;
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
}

.landWrapper > .land {
    flex: 4;
    background: #E6E5E0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #E6E5E0), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: -moz-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: -o-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: -ms-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: linear-gradient(to right, #E6E5E0 31%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94c4fe', endColorstr='#d3f6fe', GradientType=0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #E6E5E0;
    color: #000;
    font-size: 0.750em;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    /* background-color: #ffffff;*/
}

.landWrapper >.land >.textContainer {
    padding-top: 20px;
    transform: rotate(90deg);
}



.rightLandWrapper>.land >.textContainer {
    padding-top: 20px;
    transform: rotate(-90deg);
}


.rightLandWrapper>.chanceRight>.textContainer {
    padding-top: 20px;
    transform: rotate(0deg);
}


.rightLandWrapper>.land {
    flex: 4;
}

.landWrapper > .colorWrapper > .streetName {
    margin-top: 50%;
    text-align: center;
    -webkit-transform: rotate(-90deg);
}

/* This is the images */

.jail {
}

.gotojail {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/gotojail.png');
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
}

.incomeTax {
    flex: 1;
    background: #E6E5E0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #E6E5E0), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: -moz-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: -o-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: -ms-linear-gradient(left, #E6E5E0 31%, #ffffff 100%);
    background: linear-gradient(to right, #E6E5E0 31%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94c4fe', endColorstr='#d3f6fe', GradientType=0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #E6E5E0;
    color: #000;
    font-size: 0.750em;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
}

.trainsouth {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/train.png');
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #ffffff;
}


/*This is the new stuff*/

.orange3{
    background-image: url('/m/img/game/orange3.jpg') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}


.top_leftcorner {
    background-image: url('/m/img/game/top_leftconer.jpg') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}

.red1 {
    background-image: url('/m/img/game/red1.jpg') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}


.top_chance {
    background-image: url('/m/img/game/top_chance.jpg') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}

.red2 {
    background-image: url('/m/img/game/red2.jpg') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}

.red3 {
    background-image: url('/m/img/game/red3.jpg') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}

.station3 {
    background-image: url('/m/img/game/station3.jpg') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}


.yellow1{
    background-image: url('/m/img/game/yellow1.jpg') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}

.yellow2{
    background-image: url('/m/img/game/yellow1.jpg') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}

.util3{
    background-image: url('/m/img/game/util3.jpg') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}


.yellow3{
    background-image: url('/m/img/game/yellow3.jpg') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}


.top_rightcorner{
    background-image: url('/m/img/game/top_rightconter.jpg') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}

.green1{
    background-image: url('/m/img/game/green1.jpg') !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}




.water{
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/water.png')!important;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #ffffff;
    transform : rotate(180deg)
}

.trainnorth {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/train.png');
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #ffffff;
    transform : rotate(180deg)
}


.rightChance {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/rightChance.png');
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #ffffff;
    transform : rotate(180deg);
    height: 100%;
}


.chance {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/chance.png');
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #000;
}


.chanceNorth {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/chance.png');
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #000;
    transform: rotate(180deg);
}


.chanceRight {

    flex: 1;
    background-image: url('/m/img/game/chance.png');
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #000;
    transform: rotate(-90deg);
}

.electric {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/electric.png') !important;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #ffffff !important;
}

.lefttrain {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/leftTrain.png') !important;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #ffffff !important;
}


.rightTrain {
    flex-direction: column-reverse;
    flex: 1;
    background-image: url('/m/img/game/leftTrain.png') !important;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    color: #ffffff !important;
}



.go {
    flex-direction: column;
    flex: 1;
    background-image: url('/m/img/game/go.png');
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
}

.scoreline {
    display: flex;
    flex-direction: column;
    flex: 4;
    background-image: url('/m/img/game/finalBanner.png');
    background-repeat: no-repeat;
    background-position: 80% 100%;
}

.scoreline > .top {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex: 2;
    min-height: 200px;
}

.scoreline > .top > .topScoreColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url('/m/img/game/moneyBack.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.scoreline > .top > .topScoreColumn > .amountContainer {
    flex: 1;
    /* background-color: #3f903f;*/
    display: flex;
    flex-direction: row;
}

.amountContainer > .amount {
    color: #fba90a;
    font-family: Audiowide;
    flex: 1;
    text-align: center;
    font-size: 22px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    flex: 2;
}

.titleContainer > .amountTitle {
    font-size: 30px;
    color: #b9351e;
    font-family: Audiowide;
    text-align: left;
}

.scoreline > .bottom {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    /* background-color: #269abc;*/
    flex: 2;
}

.scoreline > .bottom > .bottomScoreColumn {
    flex: 1;
}

/*This is for the ranking container*/

.bottomScoreColumn > .rankingContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.rankingContainer > .rankValue {
    flex: 1;
    height: 60px;
}

.rankingContainer > .rankingStarsContainer {
    flex: 5;
    display: flex;
    flex-direction: row;
}

.rankingStarsContainer > li {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 60px;
}

.star {
    background: url(/m/img/game/Star-icon.png);
    width: auto; /*or your image's width*/
    height: auto; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    flex: 1;

}

@font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}




